.plus-icon{
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    right: 20px; /* Adjust the distance from the right as needed */
    background-color: yellow;
    border-radius: 35%;
    padding: 25px;
    border: 0cap;
}
.span div{
    justify-content: center;
    align-items: center;
}