.container {
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .note-card {
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center the text horizontally */
    transition: transform 0.2s ease-in-out;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .link {
    font-size: 16px;
    color: #0070c9;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .loading-text {
    font-size: 16px;
    text-align: center;
    margin: 20px;
  }
  