/* TopBar.css */
.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  color: #FFFFFF; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgba(132, 150, 183, 0.806);
  border-radius: 20px;
}

.search-box {
  background-color: #FFFFFF;
  border: none;
  border-radius: 7px;
  padding: 10px;
  min-width: 70%;
}

.search-box input {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.filter select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333; 
  width: 100%;
  margin-top: 10px;
}

.filter select:hover {
  border-color: #666;
}

.filter select option {
  background-color: #fff;
  color: #333;
}

.filter select:active, .filter select:focus {
  outline: none;
  border-color: #555;
}


.filter select:hover {
  background-color: #F1F1F1;
}

@media (max-width: 768px) {
  .profile img {
    display: none;
  }
  .top-bar {
    flex-direction: column;
  }
}
